# 환경 설정
# APP_ENV: dev | staging | prod
EXPO_PUBLIC_APP_ENV=dev
EXPO_PUBLIC_LOG_LEVEL=verbose   # verbose | debug | none

# Firebase 설정 (Firebase Console에서 확인)
EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=
EXPO_PUBLIC_FIREBASE_PROJECT_ID=
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
EXPO_PUBLIC_FIREBASE_APP_ID=

# 관리자 코드
EXPO_PUBLIC_ADMIN_CODE=
